extends layout
block content
 h1= title
 - let rhinoid = toShow._id
 - let rhinoSpecies = toShow.rhino_species
 - let rhinoAge = toShow.rhino_age
 - let endangermentStatus = toShow.endangerment_status
 div
   div.row
     div(class='rhinoAttr mr-3') Rhino ID is:
     div #{rhinoid}
   div.row
     div(class='rhinoAttr mr-3') Rhino species is:
     div #{rhinoSpecies}
   div.row
     div(class='rhinoAttr mr-3') Rhino Age is:
     div #{rhinoAge}
   div.row
     div(class='rhinoAttr mr-3') Endangerment status is:
     div #{endangermentStatus}